/* ------ Facilities section 03 ------- */

.title-photos {
    border-top: 1px dashed #f1f1f1;
    text-align: center;
    font-size: 70px;
    color: black;
    padding: 50px 0;
    text-transform: uppercase;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto 8em;
}

.btn-modal {
    width: 350px;
    height: 400px;
    border: none;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 3%;
    transition: 0.4s ease-in-out;
}


.btn-modal:nth-child(1) {
    background-image: url(ressources/img1-equip.jpg);
}
.btn-modal:nth-child(2) {
    background-image: url(ressources/img2-equip.jpg);
}
.btn-modal:nth-child(3) {
    background-image: url(ressources/img3-equip.jpg);
}
.btn-modal:nth-child(4) {
    background-image: url(ressources/img4-equip.jpg);
}
.btn-modal:nth-child(5) {
    background-image: url(ressources/img5-equip.jpg);
}
.btn-modal:nth-child(6) {
    background-image: url(ressources/img6-equip.jpg);
}
.btn-modal:nth-child(7) {
    background-image: url(ressources/img7-equip.jpg);
}
.btn-modal:nth-child(8) {
    background-image: url(ressources/img8-equip.jpg);
}
.btn-modal:nth-child(9) {
    background-image: url(ressources/img9-equip.jpg);
}

.bloc-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
    Display: none;
}

.active-modal {
    display: block;
}

.bloc-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
}

.bloc-modal img {
    width: 100%;
}


.close-modal {
    position: absolute;
    z-index: 4000;
    top: 5%;
    right: 3%;
    width: 2em;
    height: 2em;
    font-size: 22px;
    color: rgb(34, 34, 34);
    background: whitesmoke;
    border-radius: 80%;
    cursor: pointer;
    border: none;
}

/* ------ Facilities section 03 : Media queries ------- */

@media screen and (max-width: 850px) {
    .title-facilities {
        font-size: 45px;
    }
}

@media screen and (max-width: 500px) {
    .title-facilities {
        font-size: 35px;
    }
}